@media (min-width:992px){
    #header #main-menu{
        opacity: 0;
        visibility: hidden;
        transition: all ease-in 0.3s;
    }
    #header #main-menu.active{
        opacity: 1;
        visibility: visible;
    }
    #header .brand-logo{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        transition: all linear 0.3s;
    }
    #header .brand-logo.active{
        transform: translateX(0);
        left: 0;
    
    }
}